html
    font-size: 10px

*
    padding: 0
    margin: 0
    box-sizing: border-box

@media (orientation: portrait) and (min-width: 768px)
    html
        font-size: 15px

@media (orientation: portrait) and (min-width: 1024px)
    html
        font-size: 25px

       



@media (orientation: landscape)

    /* home */ 

    .homeImg
        width: 80%
        left: 10%
    

    /* about */ 

    .aboutPage
        height: 250vh
        & .aboutImg
            width: 70%
            height: 60vh

    /* offer */ 

    .offer
        height: 380vh
        & .img
            height: 90vh
            width: 80%
        

    /* contact */

    .contact
        height: 200vh
        .contactForm
            height: 120vh
            & input
                height: 10vh
            & textarea
                height: 50vh
                padding: 1rem 2rem 1rem 2rem
            & button
                width: 40%
                height:  8vh
    /* footer */

    footer
        height: 100vh
        & div
            width: 80%
            font-size: 1.5rem
        & .header
            font-size: 2rem
            color: gray
    
    /* nav */

    .navBtn
        & .bot
            &.active
                transform: rotate(45deg) translateX(-65%) translateY(50%)
    
@media (orientation: landscape) and (min-width: 640px)
    html
        font-size: 12px