.place{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.place iframe{
    margin-top: 5vh;
    width: 80%;
    height: 80vh;
    border-radius: 20%;
}

.place .adress{
    margin-top: 4vh;
    font-size: 1.5rem;
    display: flex;
    overflow: hidden;
}

.place .adress span{
    display: block;
    transform: translateY(-100%);
    margin-right: 5px;
    transition: .5s;
}

.place .adress span:nth-of-type(odd){
    transform: translateY(100%);
}

.place .adress.active span{
    transform: translate(0);
}